<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sistema de Gestão de Pessoas</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

</head>
<body>
	<div class="container my-2">
		<a th:href="@{/rh/pessoas/nova}" class="btn btn-primary btn-sm mb-3">Incluir Pessoa</a>
		<h1>Pessoas</h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Nome</th>
					<th>DataNascimento</th>
					<th>Telefone</th>
					<th>Email</th>
					<th>CPF</th>
					<th>RG</th>
					<th>Endereco</th>
					<th>Profissao</th>
					<th>Rendimentos</th>
					<th>Empregadora</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pessoa : ${listaPessoas}">
					<td th:text="${pessoa.nome}"></td>
					<td th:text="${pessoa.dataNascimento}"></td>
					<td th:text="${pessoa.telefone}"></td>
					<td th:text="${pessoa.email}"></td>
					<td th:text="${pessoa.cpf}"></td>
					<td th:text="${pessoa.rg}"></td>
					<td th:text="${pessoa.endereco}"></td>
					<td th:text="${pessoa.profissao}"></td>
					<td th:text="${pessoa.rendimentoAuferido}"></td>
					<td th:text="${pessoa.entidadeEmpregadora}"></td>
					<td>
						<a th:href="@{/rh/pessoas/{id}(id=${pessoa.id})}" class="btn btn-primary">Alterar</a>
						<a th:href="@{/rh/pessoas/excluir/{id}(id=${pessoa.id})}" class="btn btn-danger">Excluir</a>			
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html> 