
.modal-header{
    display: flex;
    position: relative;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
}

.btn{
    width: 200px;
    height: 50px;
    font-size: 20px !important;
    background-color: brown !important;
    border: none !important;
}

.modal-footer{
    background-color: inherit;
    text-align: right;
    padding: 0 20px;
}

.envio{
    margin: 80px !important;
    width: 150px;
}

.extrato{
    margin-top: 30px;
}
.modal-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

select{
    margin-right: 50px !important;
}

label{
    margin-left: 40px !important;
    margin-right: 20px;
    font-size: 20px;
}


.records{
    width: 90%;
    margin: 0 auto;
    margin-top: 120px;
    user-select: none;
    text-align: left;
}


.label-transferencia{
    font-size: 30px;
}

.input-saldo{
    height: 50px;
    width: 250px;
}

.saldo-moedas{
    display: flex;
    justify-content: center;
    padding-bottom: 30px !important
}

.input-valor{
    height: 50px;
    width: 350px;
}

.input-aluno{
    height: 50px !important;    
}

@media (max-width:480px){
    header{
        position:fixed;
        width:100%;
    }
    .header-title{
        font-size: 1.5rem;
    }

    main{
        padding: 0;
        margin: 20px 0 0 0;
        width:100%;
        box-shadow: none;
    }
}

@media(max-width:480px){
    .records{
        border-spacing: 5px;
    }
  
}

.records th{
    height: 50px;
    background-color: var(--primary-color);
    padding-left: 20px;
    font-size: 1.2rem; 
    color: aliceblue;   
}
.records td{
    height: 50px;
    padding-left: 20px;
}

.records th:last-child,
.records td:last-child{
    padding: 0;
    min-width: 140px;
    text-align: center;
}

.records tr:hover{
    background-color: var(--secundary-color);
}