<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Locadora</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Locadora</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/clientes}">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/login}">Login</a>
      </li>
    </ul>
  </div>
</nav>

	<div class ="container">
		<div class = "row">
			<h1> Lista Clientes </h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/clientes/novo}" class = "btn btn-primary btn-sm mb-3"> Adicionar Cliente</a>
			</div>
		</div>
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					<th> Nome</th>
					<th> RG</th>
					<th> CPF </th>
                    <th> Endereço </th>
                    <th> Profissão </th>
                    <th> Senha </th>
                    <th> Entidades </th>
					<th> Actions </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "cliente: ${clientes}">
					<td th:text = "${cliente.nome}"></td>
					<td th:text = "${cliente.rg}"></td>
					<td th:text = "${cliente.cpf}"></td>
                    <td th:text = "${cliente.endereco}"></td>
                    <td th:text = "${cliente.profissao}"></td>
                    <td th:text = "${cliente.senha}"></td>
                    <td>
                        <a th:href = "@{/clientes/{id}/entidades(id=${cliente.id})}"
						 class = "btn btn-warning">Entidades</a>
                    </td>

					<td>
                        
						<a th:href = "@{/clientes/edit/{id}(id=${cliente.id})}"
						 class = "btn btn-primary">Atualizar</a>
						
						<a th:href = "@{/clientes/deletar/{id}(id=${cliente.id})}"
						 class = "btn btn-danger">Deletar</a>
						 
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>
</body>
</html>